<section>
  <h1>NGPL SELECT</h1>
  <div>
    <mat-checkbox [formControl]="disableControl" class="mr-3">
      Disable Control
    </mat-checkbox>
    <mat-checkbox [formControl]="readOnlyControl" class="mr-3">
      ReadOnly Control
    </mat-checkbox>

    <mat-checkbox [formControl]="loadingControl" class="mr-3">
      Show Loading
    </mat-checkbox>

  </div>
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxLayout fxLayoutAlign="space-around">
      <ngpl-select ngplWidth="250px"
                   [ngplDisableControl]="disableControl.value"
                   placeHolder="With Id as Value"
                   propValue="id"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select"
                   [items]="items">

      </ngpl-select>
      <ngpl-select ngplWidth="250px"
                   [ngplDisableControl]="disableControl.value"
                   placeHolder="With Object as Value"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select1"
                   [items]="items">

      </ngpl-select>
      <ngpl-select ngplWidth="250px"
                   placeHolder="With Label Function"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select2"
                   [labelFn]="labelFn"
                   [items]="items">
      </ngpl-select>


    </div>
    <div fxLayout fxLayoutAlign="space-around">

      <ngpl-select ngplWidth="250px"
                   placeHolder="With Custom Template"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select3"
                   [filterBy]="'descripcion'"
                   [noResultTemplate]="noResult"
                   [itemTemplate]="selectItemTemplate"
                   [items]="items">
      </ngpl-select>

      <ngpl-select ngplWidth="250px"
                   placeHolder="With No All Options"
                   propValue="descripcion"
                   showAllOption="false"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select4"
                   [items]="items">
      </ngpl-select>

      <ngpl-select ngplWidth="250px"
                   placeHolder="No Searcheable"
                   propValue="descripcion"
                   searcheable="false"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select5"
                   [items]="items">
      </ngpl-select>

    </div>

    <div fxLayout fxLayoutAlign="space-around">

      <ngpl-select ngplWidth="220px"
                   placeHolder="With No Result Template"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select3"
                   [filterBy]="'descripcion'"
                   [noResultTemplate]="noResult"
                   [itemTemplate]="selectItemTemplate"
                   [items]="items">
      </ngpl-select>

      <ngpl-select ngplWidth="220px"
                   placeHolder="With No Items Template"
                   propValue="descripcion"
                   showAllOption="false"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   [noItemsTemplate]="noItems"
                   formControlName="select4"
                   [items]="[]">
      </ngpl-select>

      <ngpl-select ngplWidth="220px"
                   placeHolder="With no Items text"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   [noItemsText]="'No existen items a listar'"
                   formControlName="select5"
                   [items]="[]">
      </ngpl-select>
      <ngpl-select ngplWidth="220px"
                   placeHolder="With no Result text"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   [noResultText]="'No existen Coincidencias en la busqueda'"
                   formControlName="select5"
                   [items]="items">
      </ngpl-select>

    </div>
    <ng-template #noResult>
      <div>
        <h1>No Items Found Custom Message</h1>
      </div>
    </ng-template>
    <ng-template #noItems>
      <div>
        <h1>No Items Exist Custom Message</h1>
      </div>
    </ng-template>
  </form>
  <div fxLayout="" fxLayoutAlign="space-between">
    <pre>{{formGroup.value | json}}</pre>
    <pre>{{formGroup.getRawValue() | json}}</pre>
  </div>

</section>
<ng-template #selectItemTemplate let-item='item' let-order='order'>
  <div fxLayout fxLayoutAlign="space-between center" class="item-template">
    <mat-icon class="mr-2 "
              [class.odd]="item.id % 2 === 0"
              [class.even]="item.id % 2 !== 0">
      {{item.id % 2 === 0 ? "3d_rotation" : 'more_vert'}}</mat-icon>
    <p> {{item.id}} - {{item.descripcion}}</p>
  </div>
</ng-template>
