<section>
  <h1>NGPL SELECT</h1>
  <div>
    <mat-checkbox [formControl]="disableControl" class="mr-3">
      Disable Control
    </mat-checkbox>
    <mat-checkbox [formControl]="readOnlyControl" class="mr-3">
      ReadOnly Control
    </mat-checkbox>

    <mat-checkbox [formControl]="loadingControl" class="mr-3">
      Show Loading
    </mat-checkbox>

  </div>
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxLayout fxLayoutAlign="space-around">
      <ngpl-select ngplWidth="250px"
                   [ngplDisableControl]="disableControl.value"
                   placeHolder="With Id as Value"
                   propValue="id"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select"
                   [items]="items">

      </ngpl-select>
      <ngpl-select ngplWidth="250px"
                   [ngplDisableControl]="disableControl.value"
                   placeHolder="With Object as Value"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select1"
                   [items]="items">

      </ngpl-select>
      <ngpl-select ngplWidth="250px"
                   placeHolder="With Label Function"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select2"
                   [labelFn]="labelFn"
                   [items]="items">
      </ngpl-select>


    </div>
    <div fxLayout fxLayoutAlign="space-around">

      <ngpl-select ngplWidth="250px"
                   placeHolder="With Custom Template"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select3"
                   [filterBy]="'descripcion'"
                   [items]="items">

        <ngplItemTemplate>
          <ng-template let-item='item' let-order='order'>
            <div fxLayout fxLayoutAlign="space-between center" class="item-template">
              <mat-icon class="mr-2 "
                        [class.odd]="item.id % 2 === 0"
                        [class.even]="item.id % 2 !== 0">
                {{item.id % 2 === 0 ? "3d_rotation" : 'more_vert'}}</mat-icon>
              <p class="mb-0"> {{item.id}} - {{item.descripcion}}</p>
            </div>
          </ng-template>
        </ngplItemTemplate>

        <ngplItemsNoFoundTemplate>
          <ng-template let-search='search'>
            <h3>No hay resultados de busqueda para {{search}}</h3>
          </ng-template>
        </ngplItemsNoFoundTemplate>



      </ngpl-select>

    </div>

    <div fxLayout fxLayoutAlign="space-around">

      <ngpl-select ngplWidth="220px"
                   placeHolder="With no Items template"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   formControlName="select5"
                   [items]="[]">

        <ngplNoItemsTemplate>
          <ng-template>
            <h3>No hay nada para mostrar </h3>
          </ng-template>
        </ngplNoItemsTemplate>

      </ngpl-select>
      <ngpl-select ngplWidth="220px"
                   placeHolder="With no Items text"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   [noItemsText]="'No existen items a listar'"
                   formControlName="select5"
                   [items]="[]">
      </ngpl-select>
      <ngpl-select ngplWidth="220px"
                   placeHolder="With no Result text"
                   propValue="descripcion"
                   [readOnlyControl]="readOnlyControl.value"
                   [showLoading]="loadingControl.value"
                   [noResultText]="'No existen Coincidencias en la busqueda'"
                   formControlName="select5"
                   [items]="items">
      </ngpl-select>

    </div>

  </form>
  <div fxLayout="" fxLayoutAlign="space-between">
    <pre>{{formGroup.value | json}}</pre>
    <pre>{{formGroup.getRawValue() | json}}</pre>
  </div>

</section>

